# Data Wrangling with Spark SQL

In [1]:
from pyspark.sql import SparkSession

# TODOS: 
# 1) import any other libraries you might need
# 2) instantiate a Spark session 
# 3) read in the data set located at the path "data/sparkify_log_small.json"
# 4) create a view to use with your SQL queries
# 5) write code to answer the quiz questions

In [2]:
spark = SparkSession \
    .builder \
    .appName("Spark SQL Quiz") \
    .getOrCreate()

user_log = spark.read.json("data/sparkify_log_small.json")

user_log.createOrReplaceTempView("log_table")

In [3]:
user_log.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: long (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

# Question 1

Which page did user id ""(empty string) NOT visit?

In [4]:
# SELECT distinct pages for the blank user and distinc pages for all users
# Right join the results to find pages that blank visitor did not visit
spark.sql('''SELECT *
             FROM (SELECT DISTINCT page
                   FROM log_table 
                   WHERE userID='') AS user_pages
             RIGHT JOIN (SELECT DISTINCT page
                         FROM log_table) AS all_pages
             ON user_pages.page = all_pages.page
             WHERE user_pages.page IS NULL''').show()

+----+----------------+
|page|            page|
+----+----------------+
|null|Submit Downgrade|
|null|       Downgrade|
|null|          Logout|
|null|   Save Settings|
|null|        Settings|
|null|        NextSong|
|null|         Upgrade|
|null|           Error|
|null|  Submit Upgrade|
+----+----------------+

# Question 2 - Reflect

Why might you prefer to use SQL over data frames? Why might you prefer data frames over SQL?

# Question 3

How many female users do we have in the data set?

In [5]:
spark.sql('''
          SELECT COUNT(DISTINCT userID)
          FROM log_table 
          WHERE gender = 'F'
          ''').show()

+----------------------+
|count(DISTINCT userID)|
+----------------------+
|                   462|
+----------------------+

# Question 4

How many songs were played from the most played artist?

In [6]:
spark.sql('''
          SELECT Artist, COUNT(Artist) AS plays 
          FROM log_table 
          GROUP BY Artist 
          ORDER BY plays DESC 
          LIMIT 1
          ''').show()

+--------+-----+
|  Artist|plays|
+--------+-----+
|Coldplay|   83|
+--------+-----+

# Question 5 (challenge)

How many songs do users listen to on average between visiting our home page? Please round your answer to the closest integer.

In [7]:
# SELECT CASE WHEN 1 > 0 THEN 1 WHEN 2 > 0 THEN 2.0 ELSE 1.2 END;
is_home = spark.sql('''
                    SELECT userID, page, ts, CASE WHEN page = 'Home' THEN 1 ELSE 0 END AS is_home 
                    FROM log_table 
                    WHERE (page = 'NextSong') or (page = 'Home')
                    ''')

# keep the results in a new view
is_home.createOrReplaceTempView("is_home_table")

# find the cumulative sum over the is_home column
cumulative_sum = spark.sql('''
                           SELECT *, SUM(is_home) OVER (PARTITION BY userID ORDER BY ts DESC ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS period
                           FROM is_home_table
                           ''')

# keep the results in a view
cumulative_sum.createOrReplaceTempView("period_table")

# find the average count for NextSong
spark.sql('''
          SELECT AVG(count_results) 
          FROM (SELECT COUNT(*) AS count_results 
                FROM period_table 
                GROUP BY userID, period, page HAVING page = 'NextSong') AS counts
          ''').show()

+------------------+
|avg(count_results)|
+------------------+
| 6.898347107438017|
+------------------+